In [1]:
import pandas as pd 
# read training data & test data 
df_train = pd.read_csv("emailData/training.csv")
df_test = pd.read_csv("emailData/test.csv")

In [5]:
# five rows of our training data.

df_test.sample(5)

    type                                              email
35   Ham  <p>God i dreaming and some quoth. The desert l...
43  Spam  <p>Florid in deem chaste. Had day might so ato...
91   Ham  <p>Spoken wore shall long a that beast youhere...
67  Spam  <p>Girls vaunted ancient pangs later him it do...
68   Ham  <p>Word or visiter unhappy syllable no followe...

In [7]:
# descriptive statistics of our training data
df_train.describe(include = 'all')

        type                                              email
count   2000                                               2000
unique     2                                               2000
top      Ham  <p>Would nor weary than not a the was this dro...
freq    1000                                                  1

In [8]:
df_train.groupby('type').describe()

     email
     count unique                                                top freq
type
Ham   1000   1000  <p>That is name quoth dying be lie at stepped ...    1
Spam  1000   1000  <p>Domestic nor it of way light within hour to...    1